<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pre-Era | Login</title>
  </head>
  <body>
    <div class="login-box auth0-box before">
      <img src="https://i.cloudup.com/StzWWrY34s.png" />
      <h3>Auth0 Example</h3>
      <p>Zero friction identity infrastructure, built for developers</p>
      <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0"
        >Log In</a
      >
    </div>
  </body>
</html>
