<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum</title>
</head>

<body>
    <style>
        .map_title {
            font-size: 35px;
            display: grid;
            place-items: center;
        }
    </style>
    <div class="map">
        <div class="map_title">Museum near me</div>
        <div class="map_title">A map will come here</div>
    </div>
</body>

</html>